.THIS {
}

.THIS .cabecera{
    background-color: #E1F2FD;
}

.THIS .color_icono{
	background-color: #B0C4DF;
	margin-left: 1em;
}

.THIS td{
	font-size:1.5em;
	color: #006DCC;
}

.THIS.color_fondo{
	background-color: #B0C4DF;
	border-top-right-radius:.25rem;
	border-top-left-radius: .25rem;

}

.THIS #div_btn{
	    margin-top: 40px;
}